<!--  detect chanrset utf-8 css -->
<meta charset="utf-8">
<!--  suport responsive devices -->
<meta name="viewport" content="width=device-width , initial-scale=1.0">
<meta name="description" content="Template HTML RIP dari PSD.">
<!--  custom description css -->
<meta name="keywords" content="marketing">
<meta name="author" content="Hataco">
<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png">
<link rel="icon" target="" ype="image" href="favicon.ico" sizes="32x32">
<link rel="icon" type="image" href="favicon.ico" sizes="16x16">
<link rel="manifest" href="">
<link rel="mask-icon" href="favicon.ico" color="#fff">
<meta name="theme-color" content="#ffff">
<meta property="fb:app_id" content="1234567890">
<meta property="og:locale" content="id_ID">
<meta property="og:title" content="Template HTML">
<meta property="og:url" content="hataco.com">
<meta property="og:type" content="website">
<meta property="og:description" content="Template HTML RIP dari PSD.">
<meta property="og:image" content="assets/images/favicon.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Template HTML">
<meta name="twitter:description" content="Template HTML RIP dari PSD.">
<meta name="twitter:url" content="bintang-group.com">
<meta name="twitter:image" content="favicon.png">
<!--  linked stylesheet file -->
<link rel="stylesheet" type="text/css" href="assets/css/style.css">
<!-- load javascript file -->
<script src="assets/js/app.js" type="text/javascript" defer></script>